/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: #007FFF;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

code {
	color: yellow;
}

p {
	padding-bottom: 20px;
	color: white;
}

body, h1, h2, a {
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Ubuntu", Arial, Helvetica;
	line-height: 2;
	max-width: 600px;
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
} /* Resets margins and paddings, sets the font family and line height, restricts the width, centers the text and elements, and ensures elements behave as blocks. */

body {
    background: radial-gradient(circle, rgb(0,0,0), rgb(40,0,40)); /* Gradient dark purple background */
}

h1 {        
	color: cyan;
    font-size: 2em;
    margin-bottom: 0.5em;
} /* Cyan color and font size and spacing adjustments for <h1> element */

h2 {
    color: plum;
    font-size: 1.5em;
    margin-bottom: 1em;
} /* Plum color and font size and spacing adjustments for <h2> element */

h3 {
    color: salmon;
    font-size: 1.15em;
    margin-bottom: 1em;
} /* Salmon color and font size and spacing adjustments for <h3> element */

a {
    display: inline-block;
    transition: all 0.3s ease;
} /* Makes <a> elements have cyan border and yellow font with an animation transition */